@import '../../../app.scss';

.profile {
  padding: 20px 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
  margin-bottom: 20px;
}

.username {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.menu-list {
  background-color: #fff;
}