@import '../../../app.scss';

.home {
  padding: 40px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  line-height: 1.5;
}

.button-group {
  width: 100%;
  max-width: 300px;
}